<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
<form name="BoardForm" method="post" action="qnaReg.do">
       <table border="1" width="100%">
        <tr>
            <td>제목</td>
            <td><input type="text" name="title" id="title" placeholder="여기에 입력"></td>
        </tr>
        <tr>
            <td>본문</td>
            <td><textarea name="content" id="content" placeholder="여기에 입력"></textarea></td>
        </tr>
        <tr>
            <td>이미지</td>
            <td><input type="text" name="image" id="image" placeholder="여기에 URL입력"></td>
        </tr>
        <tr>
            <td>태그</td>
            <td><input type="text" name="tag" id="tag" placeholder="여기에 입력"> </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <button type="submit">작성 완료</button>
                <button type="reset">다시 입력</button>
                <button type="button" onclick="window.location.href='/admin_QnA.do'">목록 보기</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>