<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <!-- link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <style>
    #cCnt {
    	border-radius: 3px;
    	border: 1px solid #000;
    	padding: 5px;
    }
    
    #reply {
    	margin-top: 8px;
    	border-radius: 3px;
    	border: 1px solid #ccc;
    	padding: 5px;
    }
    table#rep_input td{
    	border: 0px dotted;
    }
    .btn {
    	border: 1px solid #ccc;
    	border-radius: 3px;
    	background: #f00;
    	color: #fff;
    	padding: 5px;
    	margin: 0 5px;
    }
    #commentList {
    	background-color: rgba(254, 206, 229, 0.3);
    	border-radius: 3px;
    }
    </style>
</head>
<body>
<div class="container">
    <form id="commentForm" name="commentForm" method="post">
    <br><br>
        <div>
            <div>
                <span><h3>상품평</h3></span> 
                <span id="cCnt"></span>
            </div>
            <div id="reply">
                <table id="rep_input" style="width: 650px">                    
                    <tr>
                        <td style="width:80%;">
                            <textarea  rows="3" cols="75" id="content" name="content" placeholder="댓글을 입력하세요"></textarea>
                        </td>
                        <td style="width:10%;">
                            <a href='#' onClick="save_comment('${productVO.pseq}')" class="btn">등록</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <input type="hidden" id="pseq" name="pseq" th:value="${productVO.pseq}" />        
    </form>
</div>
<div class="container">
    <form id="commentListForm" name="commentListForm" method="post">
        <div id="commentList"> <!--  상품평 출력 영역 -->
        </div>
    </form>
	<!-- 페이지 처리 영역 -->
    <div>
		<ul id="pagination">
		</ul>
	</div>
</div>
<script type="text/javascript">
	/* 웹페이지 모두 로딩된 후에 스크립트 수행 */
	$(document).ready(function() {
		/* 상품평을 조회하여 목록을 출력하는 함수 호출 */ 
		getCommentList();
	});
	
	// 상품평 목록 불러오기
	function getCommentList() {
		$.ajax({
			type: 'GET',
			url: 'comments/list',
			dataType: 'json',   /* 서버로 전달한 데이터 형식 */
			data: $("#commentForm").serialize(),
			contentType: 'application/x-www-form-urlencoded; charset=utf-8',
			success: function(data) {
				var commentList = data.commentList;
				var commentCount = data.commentCount;
				showHTML(commentList, commentCount);
			},
			error: function() {
				alert("상품평 목록을 조회하지 못했습니다.")
			}
		});
	}
	
	function showHTML(commentList, commentCount) {
		var html = "";	
		// commentList - 조회된 상품 댓글 목록
		if (commentList.length > 0) {
			// 상품평의 각 항목별로 HTML 생성
			$.each(commentList, function(index, comment){
				html += "<div>";
				html += "<div id=\"comment_comment\"> <strong>작성자: " + comment.member.name + "</strong>";
				html += "<span id=\"write_date\">" + displayTime(comment.regdate) + "</span><br>";
				html += comment.content+"<br></div>";
				html += "</div>";
			});
		} else { // 조회된 상품평이 없을 경우
			html += "<div>";
			html += "<h5>등록된 상품평이 없습니다.</h5>";
			html += "</div>";
		}
		
		$("#commentList").html(html);/* 브라우저에 출력  */
		$("#cCnt").html("댓글 " + "<span style= 'color:#00f;'>" + commentCount + "</span>");
	}
	
	/*
	** 입력 파라미터:
	**     timeValue - 상품평 등록 시간
	*/
	function displayTime(timeValue) {
		var today = new Date();
		
		// 현재시간에서 댓글등록시간을 빼줌
		var timeGap = today.getTime() - timeValue;
		
		// timeValue를 Date객체로 변환
		var dateObj = new Date(timeValue);
		console.log("timeValue="+timeValue);
		console.log("dateObj="+dateObj);
		// timeGap이 24시간 이내인지 판단
		if (timeGap < (1000 * 60 * 60 * 24)) {  // 시, 분, 초를 구함
			var hh = dateObj.getHours();
			var mi = dateObj.getMinutes();
			var ss = dateObj.getSeconds();
			console.log("hh="+hh);
			console.log("mi="+mi);
			console.log("ss="+ss);
			
			//return hh + ':' + mi + ':' + ss;
			return [(hh>9 ? '':'0')+hh, ':', (mi>9 ? '':'0')+mi, ':', 
				    (ss>9 ? '':'0')+ss].join('');
		} else {
			var yy = dateObj.getFullYear();
			var mm = dateObj.getMonth() + 1;
			var dd = dateObj.getDate();
			
			//return yy + "-" + mm + "-" + dd;
			return [yy, '/', (mm>9 ? '':'0')+mm, '/', (dd>9 ? '':'0')+dd].join('');
		}
	}
		
/*
 * 상품 등록
 * $ - Jquery
 */
 function save_comment(pseq){
	$.ajax({
		type: 'POST',
		url: 'comments/save',
		dataType: 'json',   /* 서버로 전달한 데이터 형식 */
		data: $("#commentForm").serialize(),
		contentType: 'application/x-www-form-urlencoded; charset=utf-8',
		success: function(data){
			if(data == 'sucess'){ 	//상품평 등록 성공
				getCommentList();	//상품평 목록 호출
				$("#content").val("");
			}else if(data == 'fail'){
				alert("상품평 등록에 실패하였습니다.")
			}else if(data == 'not_logedin'){
				alert("상품평 등록은 로그인이 필요합니다")
			}
		},
		error:function(request, status, error){
			alert("error: " + error);
		}
	});
}

</script>	
</body>
</html>














