<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	  <meta charset="UTF-8">
	  <link href="css/shopping.css" rel="stylesheet"> 
	  <script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
	  <script type="text/javascript" th:src="@{js/member.js}"></script>
<title>상품 상세 정보</title>
</head>
<body>
<th:block th:insert="~{includes/header}"></th:block>
<th:block th:insert="~{product/sub_img}"></th:block>
<th:block th:insert="~{product/sub_menu}"></th:block>
    
  <article>
    <h1> Item </h1>
    <div id="itemdetail" >
      <form  method="post" name="formm" id="theform">    
        <fieldset>
          <legend> Item detail Info</legend>  
          <a th:href="@{product_detail(pseq=${productVO.pseq})}">
            <span style="float: left;">
              <img  th:src="@{/product_images/} + ${productVO.image}"  />
            </span>              
            <h2 th:text=" ${productVO.name}"> </h2>  
          </a>    
          <label> 가 격 :  </label>  
          <p th:text="${productVO.price2}"> </p>  
          <label> 수 량 : </label>
          <input  type="text"      name="quantity" id="quantity" size="2"      value="1"><br>
          <input  type="hidden"    name="pseq"       th:value="${productVO.pseq}"><br>
        </fieldset>
        <div class="clear"></div>
        <div id="buttons">
          <input type="button" value="장바구니에 담기"   class="submit"    onclick="go_cart()"> 
          <input type="button" value="즉시 구매"       class="submit"    onclick="go_order_insert()">
          <input type="reset"  value="취소"           class="cancel">
        </div>
        <hr>
      </form>  
    </div>
    <!-- 댓글 -->
    <th:block th:insert="~{product/comment.html}"></th:block>
  </article>
<th:block th:insert="~{includes/footer}"></th:block>
</body>
</html>














    