<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>카테고리별 상품 목록</title>
</head>
<body>
<th:block th:insert="~{/includes/header}"></th:block>
<th:block th:insert="~{/product/sub_img}"></th:block>
<th:block th:insert="~{/product/sub_menu}"></th:block>      
  <article>
    <h2> Item</h2>
    <th:block th:each="productVO : ${productKindList}">
      <div id="item">
        <a th:href="@{product_detail(pseq=${productVO.pseq})}"> 
          <img th:src="@{/product_images/} + ${productVO.image}" />
          <h3 th:text="${productVO.name}"> </h3>        
          <p th:text="${productVO.price2}"> </p>
        </a>  
      </div> 
    </th:block>   
    <div class="clear"></div>
  </article>
<th:block th:insert="~{/includes/footer}"></th:block>  
</body>
</html>