<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/css/member.css}">
<style>
/* 챗봇 아이콘 스타일 */
#chatbot-icon,
#calorie-icon {
    position: fixed;
    bottom: 30px;
    background-color: #28a745;
    color: #fff;
    border-radius: 50%;
    padding: 15px;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

#chatbot-icon {
    left: 10px;
}

#calorie-icon {
    left: 110px; /* 챗봇 아이콘 오른쪽에 위치 */
}</style>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script th:src="@{/js/member.js}" defer></script>
<title>Login</title>
<script>
    function openFindIdWindow() {
        window.open("findId", "_blank", "width=600,height=400");
    }

    function openFindPasswordWindow() {
        window.open("findPassword", "_blank", "width=600,height=400");
    }
    
</script>
</head>
<body>
<!-- 챗봇 아이콘 -->
        <div id="chatbot-icon" onclick="toggleChatbotPopup()">
            <i class="fas fa-robot"></i>
        </div>
        
        <!-- 칼로리 계산기 아이콘 -->
        <div id="calorie-icon" onclick="toggleCaloriePopup()">
            <i class="fas fa-calculator"></i>
        </div>
	<!-- 헤더 -->
	<th:block th:insert="~{includes/header}"></th:block>

	<div id="login-container">
		<h2>로그인</h2>
		<form id="login-form" action="/login" method="post">
			<!-- <a href="#" class="kakao-login-button" onclick="openkakao()">
			<i class="kakao-icon"></i></a> -->
			<input type="text" name="id" placeholder="ID"> 
			<input type="password" name="password" placeholder="Password"> 
			<input type="submit" value="로그인">&nbsp;
				[ <a href="#" onclick="openFindIdWindow()">아이디 찾기</a> / 
				<a href="#" onclick="openFindPasswordWindow()">비밀번호 찾기</a> ]&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;[ <a href="contract">회원가입</a> ]
		</form>
	</div>

	<!-- 푸터 -->
	<th:block th:insert="~{includes/footer}"></th:block>
</body>
</html>