<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<th:block th:insert="~{/admin/header}"></th:block>
<th:block th:insert="~{/admin/sub_menu}"></th:block>
<Script type="text/javascript">
function go_save() {	
	if ($("#title").val() == "") {
		alert("요리명을 입력하세요.");
		$("#title").focus();
		return false;
	} else if ($("#gredient").val() == "") {
		alert("재료를 입력하세요.");
		$("#gredient").focus();
		return false;
	} else{
		var theform = $("#write_form");
		theform.attr("enctype", "multipart/form-data");
		theform.attr("action", "board_write_t");
        theform.submit();
	}
		}
		
function go_list()
{
	   var theForm = document.frm;
	   theForm.action="board_list";
	   theForm.submit();
}		
</Script>

<article>
<h1></h1>  
<!-- [1] 파일을 업로드 하기 위해서는 폼태그를 post 방식으로 전송하고,
인코딩 타입을 multipart/form-data 로 지정해야 한다. -->
<form name="frm" id="write_form" method="post" enctype="multipart/form-data">
<table id="Board_List">
<tr>
  <th>유저 레시피 글쓰기</th>
  <td colspan="5">
  <select name="kind" id="kind">
    <th:block th:each="kind, status : ${kindList}">
    <option th:value="${status.count}">[[${Category}]]</option>
    </th:block>
  </select>      
<tr>
  <th>요리명</th>
  <td width="343" colspan="5">
       <input type="text" name="title" id="title" size="47" maxlength="100" >
  </td>
</tr>
<tr>
  <th>주재료</th>
  <td width="70">
    <input type="text" name="maingredient" id="maingredient" size="11" >
  </td>
  <th>재료</th>
  <td width="70">
     <input type="text" name="gredient" id="gredient" size="11">
  </td>
  </tr>
  	<tr>
  		<th><br></th>
  		<td><br></td>
  	</tr>
  <tr>
    <th>첫번째 조리법</th>
    <td colspan="5">
      <textarea name="manual01" id="manual" rows="8" cols="70" >레시피입력</textarea>
    </td>
  </tr>
  <tr>
    <th>첫번째 조리법 이미지</th>
    <td width="343" colspan="5">
<!--  [2] 파일 업로드를 하기 위한 input 태그는 타입 속성 값을 file로 지정해야 한다.  -->
      <input type="file" name="manual_img01" id="manual_img">
      <hr>
    </td>
  </tr>    
    <tr>
    <th>두번째 조리법</th>
    <td colspan="5">
      <textarea name="manual02" id="manual" rows="8" cols="70" >레시피입력</textarea>
    </td>
  </tr>
  <tr>
    <th>두번째 조리법 이미지</th>
    <td width="343" colspan="5">
      <input type="file" name="manual_img02" id="manual_img">
      <hr>
    </td>
  </tr>
      <tr>
    <th>세번째 조리법</th>
    <td colspan="5">
      <textarea name="manual03" id="manual" rows="8" cols="70" >레시피입력</textarea>
    </td>
  </tr>
  <tr>
    <th>세번째 조리법 이미지</th>
    <td width="343" colspan="5">
      <input type="file" name="manual_img03" id="manual_img">
      <hr>
    </td>
  </tr>
      <tr>
    <th>네번째 조리법</th>
    <td colspan="5">
      <textarea name="manual04" id="manual" rows="8" cols="70" >레시피입력</textarea>
    </td>
  </tr>
  <tr>
    <th>네번째 조리법 이미지</th>
    <td width="343" colspan="5">
      <input type="file" name="manual_img04" id="manual_img">
      <hr>
    </td>
  </tr>
      <tr>
    <th>다섯번째 조리법</th>
    <td colspan="5">
      <textarea name="manual05" id="manual" rows="8" cols="70" >레시피입력</textarea>
    </td>
  </tr>
  <tr>
    <th>다섯번째 조리법 이미지</th>
    <td width="343" colspan="5">
      <input type="file" name="manual_img05" id="manual_img">
      <hr>
    </td>
  </tr>
      <tr>
    <th>여섯번째 조리법</th>
    <td colspan="5">
      <textarea name="manual06" id="manual" rows="8" cols="70" >레시피입력</textarea>
    </td>
  </tr>
  <tr>
    <th>여섯번째 조리법 이미지</th>
    <td width="343" colspan="5">
      <input type="file" name="manual_img06" id="manual_img">
      <hr>
    </td>
  </tr>    
</table>
<input class="btn" type="button" value="등록" onClick="go_save()">           
<input class="btn" type="button" value="취소" onClick="go_list()">
</form> 
</article>
<th:block th:insert="~{/admin/footer}"></th:block>
</body>
</html>