<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<script type="text/javascript">
  function go_view(seq) {
    var theForm = document.frm;
    theForm.seq.value = seq;
    theForm.action = "com_board_detail";
    theForm.submit();
  }
  
  function go_write(){
		$("#thebutton").attr("action", "board_write").submit();
		
	} 
</script>
</head>
<body>
<article>
<h1>유저 레시피 공유 페이지</h1>  
<form th:action="@{/search}" method="get">
    <select name="searchType">
      <option value="title">제목</option>
      <option value="Id">ID</option>
    </select>
    <input type="text" name="searchKeyword">
    <button type="submit">검색</button>  
    <input id="thebutton" class="btn" type="button" value="글쓰기" onClick="go_write()"> 
  </form>
  <hr>        
<form name="frm" method="get">
<table id="BoardList">
  <tr>
    <th></th> <th>제목</th> <th>작성자</th> <th>조회수</th>   
  </tr>
  <th:block th:each="com_boardVO : ${boardList}">
      <tr>
      <td>
       <img th:src="${com_boardVO.com_recipe.att_file_no_mk}" style="width: 200px; height: 180px;" />
      </td>
      <td>
      <a href="#" th:onClick="'javascript:go_view('\' + ${com_boardVO.seq} + '\');'">
        [[${com_boardVO.com_recipe.rcp_nm}]] 
      </a>
      </td>
      <td>[[${com_boardVO.member_data.id}]] </td>
      <td>[[${com_boardVO.cnt}]]</td>
      </tr>
    </th:block>
    </table>
    </form>    
  </article>
</body>
</html>