<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<th:block th:insert="~{/admin/header}"></th:block>
<th:block th:insert="~{/admin/sub_menu}"></th:block>

<article>
<h1>상품리스트</h1>	
<form name="frm" id="prod_form" method="get">
<table>
  <tr>
  <td width="642">
      상품명 
     <input type="text" name="key" id="key">
     <input class="btn" type="button" name="btn_search" value="검색" onClick="go_search()">
     <input class="btn" type="button" name="btn_total" value="전체보기" onClick="go_total()">
     <input class="btn" type="button" name="btn_write" value="상품등록" onClick="go_wrt()">
     <input class="btn" type="button" name="btn_chart" value="상품별 실적" onClick="location.href='admin_sales_record_form'">
  </td>
  </tr>
</table>
<table id="productList">
    <tr>
        <th>번호</th><th>상품명</th><th>원가</th><th>판매가</th><th>등록일</th><th>사용유무</th>
    </tr>
    <th:block th:if="${#lists.size(productList) <= 0}">
      <tr>
        <td width="100%" colspan="7" align="center" height="23">
          등록된 상품이 없습니다.
        </td>      
      </tr>
    </th:block>
    <th:block th:if="${#lists.size(productList) > 0}">
      <th:block th:each="productVO, status : ${productList}">
        <tr>
        <!-- <td height="23" align="center" >${productVO.pseq}</td> -->
        <td height="23" align="center" th:text="${status.count}"></td>
        <td style="text-align: left; padding-left: 50px; padding-right: 0px;">   
           <!--  <a href="#" onclick="go_detail('${pageMaker.criteria.pageNum}','${pageMaker.criteria.rowsPerPage}','${productVO.pseq}')">-->
  		   <a th:href="@{admin_product_detail(pseq=${productVO.pseq})}">    
    	    [[${productVO.name}]]     
   		   </a>
   	    </td>
   	    <td>[[${#numbers.formatInteger(productVO.price1, 3, 'COMMA') + '원' }]]</td>
   	    <td>[[${#numbers.formatInteger(productVO.price2, 3, 'COMMA') + '원' }]]</td>
   	    <td>[[${#dates.format(productVO.regdate, "yyyy-MM-dd")}]]</td>
        <td>
          <th:block th:if="${productVO.useyn == 'n'}">미사용</th:block>
          <th:block th:unless="${productVO.useyn == 'n'}">사용</th:block>
   	    </td> 
      </tr>
    </th:block>
    <tr><td colspan="6" style="text-align: center;"> [[${paging}]] </td></tr> 
</th:block>
</table>
</form> 
<th:block th:insert="~{/admin/page_area}"></th:block>
</article>
<th:block th:insert="~{/admin/footer}"></th:block>
