body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    line-height: 1.6;
}

.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.hero {
    background:center/cover;
    color: #333;
    text-align: center;
    padding: 100px 0;
    flex: 1; /* Flexbox를 사용하여 헤더와 푸터 사이의 공간을 꽉 채웁니다. */
}

.hero h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #555;
}

.mainPage-images {
    margin-top: 20px; /* 위쪽 여백 추가 */
    display: flex; /* 플렉스 박스로 요소를 배열합니다. */
    justify-content: space-around; /* 요소를 가로 방향으로 균등하게 분포시킵니다. */
    align-items: center; /* 요소를 수직 방향으로 가운데 정렬합니다. */
}

.mainPage-images img {
    display: block;
    width: 100%;
    height: 500px; /* 이미지의 높이를 500px로 강제로 설정합니다. */
    object-fit: cover; /* 이미지가 자동으로 조정되어 부모 요소에 맞춰지도록 합니다. */
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to top, rgba(144, 238, 144, 1), rgba(144, 238, 144, 0.6)); /* 그라데이션 설정 */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 0.9em;
}
