<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/board.css">
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script type="text/javascript">
function go_list()
{
	   var theForm = document.frm;
	   theForm.method = "get";
	   theForm.action="board_list";
	   theForm.submit();
}
</script>
<title>카테고리별 요리 분류</title>
</head>
<body>
  <article>
    <h2>요리 목록</h2>
    <button type="button" onclick="go_list()" >메뉴로 돌아가기</button>
    <form name="frm" method="get">
    <table>
    	<tr>
 		<th></th><th>요리명</th><th>아이디</th><th>조회수</th>
 		</tr>	
 <th:block th:each="com_boardVO : ${boardKindList}">
      <tr>
      <td>
       <img th:src="${com_boardVO.com_recipe.att_file_no_mk}" style="width: 200px; height: 180px;" />
      </td>
      <td>
      <a href="javascript:void(0);" th:onclick="'go_view(' + ${com_boardVO.seq} + ');'">[[${com_boardVO.com_recipe.rcp_nm}]]</a>
      </td>
      <td>[[${com_boardVO.member_data.id}]] </td>
      <td>[[${com_boardVO.cnt}]]</td>
      </tr>
      <br>
    </th:block> 
    </table>
     [[${paging}]]
     </form>
     <th:block th:insert="~{./page_area}"></th:block>   
  </article>
</body>
</html>