<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<th:block th:insert="~{/admin/header}"></th:block>
<th:block th:insert="~{/admin/sub_menu}"></th:block>  
<script type="text/javascript">
  function go_view(qseq) {
    var theForm = document.frm;
    theForm.qseq.value = qseq;
    theForm.action = "admin_qna_detail";
    theForm.submit();
  }
</script>

<article>
<h1>Q&amp;A 게시글 리스트</h1>  
<form name="frm" method="post">
<input type="hidden" name="qseq">  
<table id="orderList">
  <tr>
    <th>번호(답변여부)</th> <th>제목</th> <th>작성자</th> <th>작성일</th>    
  </tr>
  <th:block th:each="qnaVO : ${qnaList}">
      <tr>
      <td>
      [[${qnaVO.qseq}]]
      <span th:if="${qnaVO.rep=='1'}">(미처리)</span>  
	  <span th:unless="${qnaVO.rep=='1'}">(답변처리완료)</span> 
      </td>
      <td>
      <a href="#" th:onClick="'javascript:go_view(\'' + ${qnaVO.qseq} + '\');'">
        [[${qnaVO.subject}]] 
      </a>
      </td>
      <td> [[${qnaVO.member.id}]] </td>
      <td>[[${#dates.format(qnaVO.indate, "yyyy-MM-dd") }]]</td>
      </tr>
    </th:block>
    </table>
    </form>    
  </article>
<th:block th:insert="~{/admin/footer}"></th:block>
</body>
</html>