<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Footer</title>
<link rel="stylesheet" th:href="@{/css/main.css}" href="/css/main.css">
</head>
<body>
	<div id="footer">
		<div class="container">
			<div class="fu1">
				<section>
					<header class="major">
						<h3>하고 싶은 말 적을까요..?</h3>
					</header>
					<div class="frow">
						<section class="fu3">
							<ul class="default">
								<li><a href="#">적고 싶은게 있으면</a></li>
								<li><a href="#">말씀해 주세요...</a></li>
								<li><a href="#">적을게 없어요..</a></li>
								<li><a href="#">css 어렵다</a></li>
							</ul>
						</section>
						<section class="fu4">
							<ul class="default">
								<li><a href="#">html도 어렵다</a></li>
								<li><a href="#">팀프로젝트</a></li>
								<li><a href="#">css 만들기</a></li>
								<li><a href="#">ㅁㄴㅇㅁㄴㅇㅁㄴㅇ</a></li>
							</ul>
						</section>
					</div>
				</section>
			</div>
			<div class="fu2">
				<section>
					<header class="major">
						<h3>우리팀</h3>
					</header>
					<ul class="contact">
						<li><span class="address">Address</span> <span>MBC
								아카데미 <br> 관악구 신림동 어딘가
						</span></li>
						<li><span class="mail">Mail</span> <span>No@email.com</span></li>
						<li><span class="phone">Phone</span> <span>(000)000-0000</span></li>
					</ul>
				</section>
			</div>
		</div>
		<div class="copyright">
			Design by: <a href="https://github.com/jeonseona/Food">TeamProject</a>
		</div>
	</div>

</body>
</html>
