<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inquiry List</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Inquiry List</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Message</th>
                <th>Created At</th> <!-- 생성일자 열 추가 -->
            </tr>
        </thead>
        <tbody>
            <!-- Thymeleaf를 사용하여 inquiryList를 반복 -->
            <tr th:each="inquiry : ${inquiries}">
                <!-- 각 문의의 이름, 이메일, 메시지 및 생성일자를 테이블 셀에 출력 -->
                <td th:text="${inquiry.name}"></td>
                <td th:text="${inquiry.email}"></td>
                <td th:text="${inquiry.message}"></td>
                <!-- Date 형식에 맞게 출력 -->
                <td th:text="${#dates.format(inquiry.created_at, 'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
