<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodMate - 다이어트 식단 추천</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>FoodMate</h1>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Admin</a></li> <!-- 관리자 -->
                    <li><a href="#">Login</a></li>   <!-- 로그인 -->
                    <li><a href="#">Community</a></li> <!-- 커뮤니티 페이지 -->
                    <li><a href="#">MyPage</a> <!--  마이 페이지 -->
                    <li><a href="customer_service">Customer Service</a> <!-- 고객센터 -->
                </ul>
            </nav>
        </div>
    </header>

    <section class="hero">
        <div class="container"> 
            <h2>건강한 식단을 추천해드릴게요!</h2>
            <p>다이어트 식단 추천을 통해 건강한 삶을 시작하세요.</p>
            <a href="#" class="btn">시작하기</a>
            <div class='mainPage-images'>
            	<img src="images/mainPage-image1.PNG">
            	<img src="images/mainPage-image2.PNG">
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2024 FoodMate. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>