<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<th:block th:insert="~{includes/header}"></th:block>
<th:block th:insert="~{mypage/sub_img}"></th:block>
<th:block th:insert="~{mypage/sub_menu}"></th:block>    
  <article>
      <h2> Order List </h2>
      <form name="formm" method="post">
        <table id="cartList">
       <tr>
        <th>상품명</th> <th>수 량</th><th>가 격</th> <th>주문일</th> <th> 진행 상태 </th>    
       </tr>
       <th:block th:each="orderVO : ${orderList}">
       <tr>      
        <td>
            <a th:href="@{product_detail(pseq=${orderVO.product.pseq})}">
              <h3 th:text="${orderVO.product.name}">  </h3>              
          </a>    
        </td>
        <td> [[${orderVO.quantity}]] </td>
        <td>[[${#numbers.formatInteger(orderVO.product.price2*orderVO.quantity, 3, 'COMMA') + '원'}]]</td>
        <td>[[${#dates.format(orderDate, 'yyyy-MM-dd')}]]</td>
        <td> 처리 진행 중 </td>
       </tr>
       </th:block>
       <tr>
         <th colspan="2"> 총 액 </th>
         <th colspan="2"> [[${#numbers.formatInteger(totalPrice, 3, 'COMMA') + '원'}]]     </th> 
         <th> 주문 처리가 완료되었습니다. </th>                
       </tr> 
      </table>   
          
      <div class="clear"></div>
      <div id="buttons" style="float: right">
       <input type="button"    value="쇼핑 계속하기"  class="cancel"  onclick="location.href='index'">     
      </div>
    </form>  
  </article>
<th:block th:insert="~{includes/footer}"></th:block>