<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Food Preferences</title>
    <link rel="stylesheet" th:href="@{/css/mypage.css}">
</head>
<body>
    <th:block th:insert="~{/includes/header}"></th:block>
    <form action="#" th:action="@{/food_choice}" method="post">
        <h3>음식 선호도 및 알레르기</h3>
        <label for="preferred">1. 선호하는 음식:</label>
        <textarea id="preferred" name="preferred"></textarea><br>
        <label for="disliked">2. 불호하는 음식:</label>
        <textarea id="disliked" name="disliked"></textarea><br>
        <label for="allergic">3. 알레르기 음식:</label>
        <textarea id="allergic" name="allergic"></textarea><br>
        <div>
            <input type="submit" value="저장하기">
            <input type="button" value="취소" onclick="location.href='/MypageMain';">
        </div>
    </form>
    <th:block th:insert="~{/includes/footer}"></th:block>
</body>
</html>
