<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Info Update</title>
<link rel="stylesheet" th:href="@{/css/mypage.css}">
<script type="text/javascript" th:src="@{/mypage.js}"></script>
</head>
<th:block th:insert="~{/includes/header}"></th:block>
<body>
	<article>
		<h3>개인정보 수정하기</h3>
		<form action="update_info" id="update_info" method="post" name="formm">
			<fieldset>
				<label>닉네임</label>
				<input type="text" name="nickname" id="nickname" th:value="${nickname}">
				<input type="hidden" name="renick" id="renick" th:value="${renick}">
				<input type="button" value="중복체크" onclick="nickcheck()"><br>
				<label>비밀번호</label>
				<input type="password" name="pw1" id="pw1"><br>
				<label>비밀번호 확인</label>
				<input type="password" name="pw2" id="pw2"><br>
				<label> 이메일</label>
        		<input type="text" name="email" id="email"><br>
			</fieldset>
		</form>
		<div>
			<input type="button" value="수정완료" onclick="info_save()">
			<input type="button" value="취소" onclick="location.href='/MypageMain';">
		</div>
	</article>
<th:block th:insert="~{/includes/footer}"></th:block>
</body>
</html>