<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/mypage.css}">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script th:src="@{/js/mypage.js}" defer></script>
</head>
<body>
<nav id="my_menu">
    <ul>
		<li><a th:href="@{/infoView}"><i class="fas fa-user"></i>&nbsp;내 정보</a></li>
		<li><a th:href="@{/infoUpdate}"><i class="fas fa-pen"></i>&nbsp;내 정보 수정</a></li>
		<li><a th:href="@{/bodyUpdate}"><i class="fas fa-check"></i>&nbsp;바디데이터 수정</a></li>
		<li><a th:href="@{/myWeightChart}"><i class="fas fa-chart-line"></i>&nbsp;체중 변화 기록</a></li>
		<li><a th:href="@{/myRecipeList}"><i class="fas fa-utensils"></i>&nbsp;나의 레시피</a></li>
		<li><a th:href="@{/foodRecommend}"><i class="fas fa-history"></i>&nbsp;받은 추천 기록</a></li>
        <!-- 필요에 따라 다른 메뉴 아이템 추가 -->
        <!-- <li><a th:href="@{myInquiry}">내 질문</a></li> -->
    </ul>
</nav>
</body>
</html>
