<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>My Inquiry</title>
<link rel="stylesheet" th:href="@{/css/mypage.css}">
<script th:src="@{/js/mypage.js}" defer></script>
</head>
<body>
<!-- 헤더 -->
<th:block th:insert="~{/includes/header}"></th:block>
<!-- 메뉴 -->
<th:block th:insert="~{mypage/menu}"></th:block>
<!-- 내 질문 -->
<h1>아직 구상중입니다... (_ _)</h1>
<main class="container">
	<article id="myInquiry">
		<h3>내 질문</h3>
		<form name="formm" id="theform" method="post">
			<div class="tbl-header">
				<table cellpadding="0" cellspacing="0" border="0">
					<thead>
						<tr>
							<th>No.</th>
							<th>질문 내용</th>
							<th>질문 날짜</th>
							<th>답변 상태</th>
							
						</tr>
					</thead>
				</table>
			</div>
			<div class="tbl-content">
				<table cellpadding="0" cellspacing="0" border="0">
					<tbody th:if="${#lists.size(InquiryList) != 0}">
						<tr th:each="myInquiry : ${InquiryList}">
							<td th:text="${myInquiry.넘버}"></td>
							<td th:text="${myInquiry.내용}"></td>
							<td th:text="${myInquiry.날짜}"></td>
							<td th:text="호로로로로롤"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<th:block th:if="${#lists.size(InquiryList) == 0}">
                    <h3 style="color: red; text-align: center;">1:1 질문이 없습니다.</h3>
                </th:block>
                <div id="buttons" style="float: right">
                    <input type="button" value="작성하기" class="cancel" onclick="location.href='/'">
                </div>
		</form>
	</article>
</main>
<!-- 푸터 -->
<th:block th:insert="~{/includes/footer}"></th:block>
</body>
</html>