<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Page</title>
    <link rel="stylesheet" th:href="@{/css/mypage.css}">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script th:src="@{/js/mypage.js}" defer></script>
</head>
<body>
    <!-- 헤더 -->
    <th:block th:insert="~{includes/header}"></th:block>
    
	<!-- 메뉴 -->
    <th:block th:insert="~{mypage/menu}"></th:block>
    
    <!-- 메인 -->
    <div class="container1">
        <main>
            <h3>메뉴에서 선택하면 보여지는 화면은 여기에요.</h3>
        </main>
    </div>

    <!-- 푸터 -->
    <th:block th:insert="~{includes/footer}"></th:block>
</body>
</html>
