<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>MyRecipeList</title>
<link rel="stylesheet" th:href="@{/css/mypage.css}">
</head>
<th:block th:insert="~{/includes/header}"></th:block>
<body>
	<section id="my-recipe-list">
		<h3>내가 작성한 레시피</h3>
		<div>
			<table>
				<thead>
					<tr>
						<th>제목</th>
						<th>내용</th>
						<th>작성일</th>
						<th>조회하기</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="myRecipe : ${recipeList}">
						<td> [[${myRecipe.title}]] </td>
						<td> [[${myRecipe.content}]] </td>
						<td> [[${myRecipe.regdate}]] </td>
						<td> <a th:href="@{recipe_detail?seq=${myRecipe.seq}">[조회]</a>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
<th:block th:insert="~{/includes/footer}"></th:block>
</body>
</html>