<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>My Weight Chart</title>
<link rel="stylesheet" th:href="@{/css/mypage.css}">
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script th:src="@{/js/mypage.js}" defer></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
	<!-- 헤더 -->
	<th:block th:insert="~{includes/header}"></th:block>

	<!-- 메뉴 -->
	<th:block th:insert="~{mypage/menu}"></th:block>

	<div class="container1">
		<!-- 내 체중 변화 그래프 -->
		<section id="weightChart">
			<div id="content">
				<div class="record">
					<section class="left-panel">
						<form id="weight_chart" method="post" name="formm" action="weight_record">
							<h3>체중 입력</h3>
							<label for="re_date">날짜 : </label>
							<input type="date" id="re_date" name="re_date" required><br>
							<label for="re_weight">체중 : </label>
							<input type="number" id="re_weight" name="re_weight" step="0.01" required>
							<span id="kg">kg</span><br>
							<input type="button" value="입력" onclick="weight_record()" class="btn">
						</form>
					</section>
					<section class="right-panel">
						<div class="wr_chart">
							<div class="chart-container">
								<canvas id="weeklyChartCanvas"></canvas>
								<ul class="chart-description">
                                <li>내 목표 체중 : [[${goal}]]</li>
                                <li>주간 변화 평균: <span th:text="${weekly}"></span></li>
                                <li>xxx : </li>
                            	</ul>
                            </div>
						</div>
						<div class="wr_chart">
							<div class="chart-container">
								<canvas id="monthlyChartCanvas"></canvas>
								<ul class="chart-description">
                                <li>내 목표 체중 : [[${goal}]]</li>
                                <li>월간 변화 평균 : <span th:text="${monthly}"></span></li>
                                <li>xxx : </li>
                            	</ul>
                            </div>
						</div>
					</section>
				</div>
			</div>
		</section>
	</div>

	<!-- 푸터 -->
	<th:block th:insert="~{includes/footer}"></th:block>
</body>
</html>
