<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Food Recommend History</title>
<link rel="stylesheet" th:href="@{/css/mypage.css}">
<script th:src="@{/js/mypage.js}" defer></script>
<th:block th:insert="~{/includes/header}"></th:block>
<th:block th:insert="~{mypage/mymenu}"></th:block>
</head>
<body>
	<article>
	    <h3>내가 받은 추천 기록</h3>
	    <form name="formm" id="theform" method="post">
		    <th:block th:if="${recommend.isEmpty()}">
		        <h3 style="color: red;text-align: center;"> 추천받은 기록이 없습니다.. </h3> 
		        <button onclick="location.href='/getRecommendations'">추천받으러 가기</button>
		    </th:block>
		    <th:block th:unless="${recommend.isEmpty()}">
		        <table id="recommendHistory">
	                <tr>
	                    <th>음식 이름</th>
	                    <th>음식 이미지</th>
	                    <th>음식 칼로리</th>
	                    <th>추천받은 날짜</th>
	                    <th>레시피 보기</th>
	                </tr>
	            	<!-- 음식이름, 이미지는 a태그 링크로 그 레시피의 상세보기페이지로 이동??-->
	                <th:block th:each="history : ${recommend}">
	                	<tr>
		                    <td th:text="${history.recommend_food.name}"></td>
		                    <td><img th:src="${history.recommend_food.images}" alt="Food Image" th:alt="${history.recommend_food.name}" style="height:100px;"></td>
		                    <td th:text="${history.recommend_food.calories}"></td>
		                    <td th:text="${#dates.format(history.recommend_date, 'yyyy-MM-dd')}"></td>
		                    <td><a th:href="@{food_recipe(idx=${history.recommend_food.idx})}"></a>레시피 확인</td>
	                	</tr>
		        </table>
		    </th:block>
	    </form>
    </article>
<th:block th:insert="~{/includes/footer}"></th:block>
</body>
</html>