<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Food Recommend History</title>
<link rel="stylesheet" th:href="@{/css/mypage.css}">
<link rel="stylesheet" th:href="@{/css/RecommendedFood.css}">
<script th:src="@{/js/mypage.js}" defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	<!-- 헤더 -->
	<th:block th:insert="~{/includes/header}"></th:block>

	<!-- 메뉴 -->
	<th:block th:insert="~{mypage/menu}"></th:block>

	<!-- 내가 추천받은 음식기록 내용 -->
	<main class="container">
		<article id="recommend">
			<h3>내가 추천받은 음식기록</h3>
			<form name="formm" id="theform" method="post">

				<div class="tbl-content">
					<table cellpadding="0" cellspacing="0" border="0" width="100%">
						<tbody>
							<th:block th:each="entry : ${groupedByDate}">
								<tr class="date-header">
									<td colspan="5" th:text="${entry.key}"></td>
								</tr>
								<tr class="date-group" style="display: none;">
									<td>
										<div class="tbi-content">
											<div class="tbl-header">
												<table cellpadding="0" cellspacing="0" border="0" width="100%">
													<thead>
														<tr>
															<th>음식 이름</th>
															<th>이미지</th>
															<th>칼로리</th>
															<th>추천받은 날짜</th>
															<th>삭제</th>
														</tr>
													</thead>
												</table>
											</div>
											<th:block th:each="history : ${entry.value}">
												<div id="group-container">
													<span th:text="${history.recommendFood.name}"></span>
													<span>
														<a href="javascript:void(0);" th:onclick="'openChart(' + ${history.recommendFood.idx} + ')'">
        													<img th:src="${#strings.substringBefore(history.recommendFood.images, '.jpg') + '.jpg'}" />
   														 </a>
   													</span>
													<span th:text="${history.recommendFood.calories}"></span>
													<span th:text="${#dates.format(history.recommendDate, 'yyyy-MM-dd HH:mm')}"></span>
													<span><input type="checkbox" name="delete" id="recommend-box"
														th:value="${history.historyId}" /></span><br />
												</div>
											</th:block>
											<div class="del-button-container">
        										<input type="button" value="삭제" id="del-button" onclick="delHistory()" style="width:50px; height:35px;">
    										</div>
										</div>
									</td>
									
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>
				<th:block th:if="${#lists.isEmpty(groupedByDate)}">
					<h3 style="color: red; text-align: center;">추천받은 기록이 없습니다.</h3>
					<button onclick="location.href='/'">추천받으러 가기</button>
				</th:block>
			</form>
			
		</article>
	</main>

	<!-- 푸터 -->
	<th:block th:insert="~{/includes/footer}"></th:block>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"
		integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
		crossorigin="anonymous"></script>
</body>
</html>
