<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodMate - 다이어트 식단 추천</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <!-- 헤더 -->
    <header th:replace="includes/header :: header"></header>

    <section class="hero">
        <div class="container">
            <h2>건강한 식단을 추천해드릴게요!</h2>
            <p>다이어트 식단 추천을 통해 건강한 삶을 시작하세요.</p>
            <a href="#" class="btn">시작하기</a>
            <div class='mainPage-images'>
            	<img src="images/mainPage-image1.PNG">
            	<img src="images/mainPage-image2.PNG">
            </div>
        </div>
    </section>

    <!-- 푸터 -->
    <footer th:replace="includes/footer :: footer"></footer>
</body>
</html>
